<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".md" mimeType="text/markdown; charset=utf-8" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="FrontController" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?route={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <system.web>
        <authentication mode="Forms">
            <forms cookieless="UseCookies" loginUrl="/login.php" name=".PHPSESSID" />
        </authentication>
    </system.web>
</configuration>
