<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
        </staticContent>
    </system.webServer>
    <system.web>
        <authentication mode="Forms">
            <forms cookieless="UseCookies" loginUrl="/login.php" name=".PHPSESSID" />
        </authentication>
    </system.web>
</configuration>
